@using BusBoard.Web.ViewModels
@model BusBoard.Web.ViewModels.BusInfo
@{
    ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
  <div class="col-md-12">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
      <h4>@Model.ErrorMessage</h4>
    }
    else
    {
      @Html.Partial("_BusStopInfo", Model.BusStop1)

      @Html.Partial("_BusStopInfo", Model.BusStop2)
    }
  </div>
</div>
