@using BusBoard.Web.ViewModels
@model BusBoard.Web.ViewModels.BusInfo
@{
    ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
  <div class="col-md-12">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
      <h4>@Model.ErrorMessage</h4>
    }
    else if (!Model.BusStops.Any())
    {
      <h4>No bus stops near this location.</h4>
    }
    else
    {
      foreach (var stop in Model.BusStops.Take(2))
      {
        @Html.Partial("_BusStopInfo", stop)
      }
    }
  </div>
</div>
